<div class="users-show-page-content">

<div class="jumbotron">
  <h3>My location: <%= @user.location ? @user.location : link_to("Set my location", edit_user_path) %></h3>
  <h3>My phone number: <%= @user.phone ? @user.phone : link_to("Set my phone number", edit_user_path) %></h3>
</div> <!-- jumbotron -->

<h2 class="my-friends-heading"><%= image_tag('/assets/arrow.png', size: '45') %> My Friends <%= image_tag('/assets/arrow.png', size: '45', :class => 'flip-horizontal') %><br></h2>

<div class="friends-container">

<% @user.friends.each do |friend| %><br>
  <% friendship = Friendship.find_by(friend_id: friend.id) %>
  <div class="panel panel-info col-md-4" style="margin:5px;border-radius:15px">
    <div class="panel-heading">
      <h3 class="panel-title"><%= label_tag(friend.name) %></h3>
    </div> <!-- panel-heading -->
    <div class="panel-body"> 
      <img src="<%= friend.pic %>"style="height:200px;width:auto"><br>
      <h4> <%= friend.location if friend.location %><br> </h4>
      
      <%= form_tag("/friendships/#{friendship.id}", method: :patch, remote: true) do %>
        <% if friendship.stalking%>
          <%= label_tag 'stalking', 'Currently Following', class: 'stalking_check' %>
        <% else %>
          <%= label_tag 'stalking', 'Follow this Friend', class: 'stalking_check' %>
        <% end %>
        <%= check_box_tag 'stalking', true, friendship.stalking, class: 'stalking' %><br>
        <%= submit_tag 'Update Friend', hidden: true %>
      <% end %>
    </div> <!-- panel-body -->
  </div> <!-- panel-info -->
<% end %>
</div> <!-- friends-container -->

</div> <!-- users-show-page-content -->
