<h1>Friends</h1>

MY LOCATION IS CURRENTLY:
<%= @user.location %>

<% @friends.each do |friend| %><br><br>
  <% form_tag ("/users", method: "patch") do %>
    <img src="<%= friend.pic %>"><br>
  <%= label_tag(friend.name) %><br>
    <% if friend.id %>
      <%= "Following" %>
    <% else %>
      <%= "Click to Follow!" %>
    <% end %>
    <br>
    <% if friend.location %>
      <%= friend.location %>
    <% end %>
  <% submit_tag %>
  <% end %>
<% end %>

<!-- HERE IS HOW WE GOT GEO ENABLED FROM THE FRIENDS HASH IN THE RAILS CONSOLE:
 client.friends.first.attrs[:geo_enabled] -->
 
<!-- CAN ALSO USE THIS
 client.friends.first.attrs.geo_enabled? -->
