<h1>Friends</h1>

MY LOCATION IS CURRENTLY:
<%= @user.location if @user.location %>

<% @user.friends.each do |friend| %><br><br>
  <img src="<%= friend.pic %>"><br>
  <%= label_tag(friend.name) %><br>
  <%# if @user.friendships.find_by(friend_id: friend.id).stalking %>
    <%#= "Following" %><br>
  <%# else %>
    <%#= button_to "Follow", user_path, :method => :patch %><br />
    <%= form_for(@user) do |f| %>
     <%=   f.fields_for :friendships do |r| %>
      <%=   r.check_box  :stalking %>
      <% end %>
      <%= f.submit "Stalk this User" %><br>
    <% end %>
  <br>
  <% if friend.location %>
    <%= friend.location  %>
  <% end %>
<% end %>

<!-- HERE IS HOW WE GOT GEO ENABLED FROM THE FRIENDS HASH IN THE RAILS CONSOLE:
 client.friends.first.attrs[:geo_enabled] -->
 
<!-- CAN ALSO USE THIS
 client.friends.first.attrs.geo_enabled? -->


